# BYOND-specific
*.rsc
*.dmb
*.int
*.lk
*.zip
*.backup
*.log
*.pid

#visual studio
*.tlog

#python
__*__

# Node.js-specific
node_modules/
npm-debug.log
package-lock.json

# General
.DS_Store
*.swp
*.bak
*.tmp