# BYOND-specific
*.rsc
*.dmb
*.int
*.lk

#visual studio
*.tlog

#python
__*__

# Node.js-specific
node_modules/
npm-debug.log
package-lock.json

# pipelib specific
*.o
*.so
*.dll
Release
FileContentIndex